:root {
	--ff-primary: 'Montserrat', sans-serif;
	--ff-secondary: 'Montserrat', monospace;

	--fw-reg: 400;
	--fw-bold: 900;
	--clr-light-default: #edf0ff;
	--clr-dark-default: #000621;
	--clr-text-default: #17252A;
	--clr-lighter-dark: #5a5a5a;
	--clr-accent-default: #0072b5;
	--clr-accent-light-default: var(--clr-light-default);
	--clr-accent-default: #4fc492;
	--clr-accent-light-default: #2ce896;

	--clr-dark-pastel: #252321;

	--inner-bs: 0.125em 0.125em 0.5em black;
	--outer-bs: 0.075em 0.075em 0.25em rgba(0, 0, 0, 0.125);
	--text-shadow: 0.175em 0.05em #131211;

	--fs-h1: 3rem;
	--fs-h2: 1.75rem;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;

	--clr-light: var(--clr-light-default);
	--clr-dark: var(--clr-dark-default);
	--clr-accent: var(--clr-accent-default);
	--clr-accent-light: var(--clr-accent-light-default);
	--clr-text: var(--clr-light-default);
	--clr-background: var(--clr-dark-pastel);
	--clr-nav: var(--clr-accent-default);
}

.custom-restricted-width {
	display: inline-block;
}

footer {
	text-align: center;
}

@media (min-width: 48em) {
	.content {
		padding: 2em 3em 0;
		margin-left: 25%;
	}
	.sidebar {
		position: fixed;
	}
	.header {
		margin: 80% 2em 0;
		text-align: right;
	}

}

