:root {
	--ff-primary: 'Montserrat', sans-serif;
	--ff-secondary: 'Montserrat', monospace;

	--fw-reg: 400;
	--fw-bold: 900;
	--clr-light-default: #edf0ff;
	--clr-dark-default: #000621;
	--clr-text-default: #17252A;
	--clr-lighter-dark: #5a5a5a;
	--clr-accent-default: #0072b5;
	--clr-accent-light-default: var(--clr-light-default);
	--clr-accent-default: #4fc492;
	--clr-accent-light-default: #2ce896;

	--clr-dark-pastel: #252321;
	--clr-light-pastel: #c5c5c5;

	--inner-bs: 0.125em 0.125em 0.5em black;
	--outer-bs: 0.075em 0.075em 0.25em rgba(0, 0, 0, 0.125);
	--text-shadow: 0.175em 0.05em #131211;

	--fs-h1: 3rem;
	--fs-h2: 1.75rem;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;

	--clr-light: var(--clr-light-default);
	--clr-dark: var(--clr-dark-default);
	--clr-accent: var(--clr-accent-default);
	--clr-accent-light: var(--clr-accent-light-default);
	--clr-text: var(--clr-light-default);
	--clr-background: var(--clr-dark-pastel);
	--clr-nav: var(--clr-accent-default);
}

.custom-restricted-width {
	display: inline-block;
}

footer {
	text-align: center;
}

.img-intro {
	position: relative;
	max-width: 100%;
	max-height: 100%;
	z-index: 2;
}

.content {
	padding: 2em 3em 0;
}

.section-about-me {
	position: relative;
	padding: 1em;
	background-color: var(--clr-accent);
}

.section-about-me-title {
	position: relative;
	margin: auto 0.5em ;
	background-color: var(--clr-light);
	color: var(--clr-dark-pastel);
	text-align: right;
}

.sidebar {
	background-color: var(--clr-dark-pastel);
	height: 100%;
}

.sidebar .pure-menu-link {

	color: var(--clr-light-pastel);
}

.sidebar .pure-menu-link:hover {

	background-color: var(--clr-light-pastel);
	color: var(--clr-dark-pastel);
}

.section-about-me {
	background-color: var(--clr-dark-pastel);
	color: var(--clr-light-pastel);
}
@media (min-width: 48em) {

	.content {
		margin-left: 25%;
	}
	.sidebar {
		position: fixed;
		z-index: 0;
	}
	.header {
		margin: 80% 2em 0;
		text-align: right;
	}

	.section-subtitle-intro {
		text-align: right;
		align-content: flex-end;
		grid-column: -1 / 1;
		grid-row: 2;
		position: relative;
		top: -2em;
	}

	.section-title {
		margin: 0.5em auto;
	}

	.section-about-me {
		padding: 2em;
	}

	footer {
		position: relative;
		background-color: var(--clr-light-pastel);
		z-index: 1;
	}


}

@media screen and (min-width: 80em) {
	.section-about-me {
		position: relative;
		top: 40%;
	}

}
